[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
defi_staking = "stk1111111111111111111111111111111111111111"

[programs.devnet]
defi_staking = "stk1111111111111111111111111111111111111111"

[programs.mainnet]
defi_staking = "stk1111111111111111111111111111111111111111"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[workspace]
members = ["programs/*"]
